[class^="fab fa"] {
  font-size: 50px;
  text-align: center;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 2px var(--eerie-black) dotted;
}

.button-container [class^="fab fa"] {
  font-size: 20px;
  margin-left: 5px;
  text-align: center;
}

[class^="footer-item"] a {
  color: var(--just-white);
  font-size: 30px;
}

[class^="footer-item"] a:hover {
  color: var(--gray);
}

[class^="footer-item"] {
  grid-column: span 3;
}

[class^="footer-item"]:hover {
  border-bottom: 2px solid white;
}